<%# Landing Page View %>

<div class="hero" style="text-align: center; padding: 50px; background-color: #f9f9f9;">
  <h1>Welcome to the BUSS Application</h1>
  <p>The mission of the Bathurst Uniting Support Services (BUSS) program is “Creating connection, Affirming dignity, Supporting growth – Supporting people who are homeless or those with addictions, to grow, connecting to community and God.”

BUSS operates programs and the weekend BUSS Café for people who are homeless, poor, socially isolated; and those with addictions and recovering from addictions. Our aim is to improve the lives of our participants; helping them to make connections to community and each other and assisting and supporting them to make better and more informed, responsible choices.

Addiction is a disease that causes isolation and loneliness. Many of those who are trying to recover from their addictions have to give up their friends who are still drinking, gambling or using, and many have already burnt their bridges with their families. Boredom, isolation and loneliness are all barriers to recovery. BUSS runs a number of programs during the week to help people come together and make social connections as well, and/or learn new skills. All the activities involve participants and volunteers from the community so the social connectedness is substantial.

“The opposite of addiction is not sobriety, it is connection” Johann Hari, leading addictions researcher.

If you’d like to see more about what is happening, volunteer or donate you can find more information on our Facebook page or call us on 0455 328 966.</p>
  <a href="/check_in" class="btn btn-primary" style="padding: 10px 20px; font-size: 16px;">Check In Now</a>
</div>
